* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
}

header, footer, div {
  box-sizing: border-box;
}

header#nav .nav-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

header#nav {
  background: rgba(25, 40, 56, 1);
  color: #fff;
}

header#nav .logo {
  padding: 15px 0;
  display: inline-block;
  width: 60%;
}

header#nav .logo img {
  vertical-align: middle;
  max-width: 125px;
  width: 100%;
} 

header#nav .logo a {
  color: #fff;
  text-decoration: none;
}

header#nav .logo a:hover {
  text-decoration: none;
}

header#nav nav {
  display: inline-block;
  width: 40%;
  text-align: right;
}

header#nav nav button {
  padding: 8px 36px 8px 8px;
  background: url('./assets/wax-allaccess-badge-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;
  border: 0;
}

header#nav nav button:hover {
  cursor: pointer;
  border: 0;
  color: #ebebeb;
}

header#nav nav button:focus {
  cursor: pointer;
  border: 0;
  outline: none;
}

header#nav nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 10px;
  display: inline-block;
  line-height: 45px;
}

header#nav nav a:hover {
  color: #fff;
  background: #000;
}

header#nav nav .accName {
  padding-left: 10px;
  display: inline-block;
}

.main-content {
  padding: 20px 0;
  max-width: 980px;
  margin: 0 auto;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.candidate-grid .candidate-single-grid {
  border: 2px solid #333;
  margin: 5px;
  border-radius: 25px;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.candidate-grid .candidate-single-grid:hover {
  color: #333;
  text-decoration: none;
}

.candidate-grid .candidate-single-grid .candidate-account {
  display: block;
  margin-bottom: 8px;
}

.candidate-grid .candidate-single-grid img {
  max-width: 40%;
  display: inline-block;
}

.candidate-grid .candidate-single-grid .btn {
  position: relative;
  z-index: 10;
  margin: 8px auto 0;
  display: block;
}

.candidate-single {
  display: grid;
  grid-template-rows: [header]auto[body]auto[end];
  grid-template-columns:[left]30%[right]70%[end];
}

.pagination-wrapper {
  text-align: center;
  padding-top: 15px;
}

.pagination-wrapper .btn {
  margin: 0 5px;
  display: inline-block;
}

.candidate-single .candidate-header {
  grid-row-start: header;
  grid-row-end: span body;
  grid-column-start: left;
  grid-column-end: span end;
  padding-bottom: 20px;
}

.candidate-single .candidate-left-pane {
  grid-row-start: body;
  grid-row-end: span end;
  grid-column-start: left;
  grid-column-end: span right;
}

.candidate-single .candidate-right-pane {
  grid-row-start: body;
  grid-row-end: span end;
  grid-column-start: right;
  grid-column-end: span end;
}

.candidate-single .candidate-right-pane ul {
  padding-left: 30px;
  margin: 5px 0 10px;
}

.nomination {
  display: grid;
  grid-template-rows: [header]auto[body]auto[end];
  grid-template-columns: [left]50%[right]50%[end];
}

.nomination input[type="text"] {
  height: 24px;
  padding: 3px 0;
  width: 100%;
}

.nomination textarea {
  width: 100%;
  height: 250px;
}

.nomination-header {
  grid-column-start: left;
  grid-column-end: span end;
  grid-row-start: header;
  grid-row-end: span body;
}

.nomination-left-pane {
  grid-column-start: left;
  grid-column-end: span right;
  grid-row-start: body;
  grid-row-end: span end;
  padding-right: 20px;
}

.nomination-right-pane {
  grid-column-start: right;
  grid-column-end: span end;
  grid-row-start: body;
  grid-row-end: span end;
  padding-left: 20px;
}

.nomination-list {
  padding: 10px 0;
}

.form-row {
  padding: 5px 0;
}

.form-row label {
  display: block;
  margin-bottom: 3px;
  font-weight: 700;
}

.btn {
  background: #F78E1E;
  color: #fff;
  padding: 7px 15px;
  border-radius: 25px;
  border: 2px solid #F78E1E;
  font-size: 16px;
  transition: background 0.4s, color 0.4s, border 0.4s;
  cursor: pointer;
}

.btn.inline-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
}

.nomination input.inline-input {
  display: inline-block;
  width: 70%;
  box-sizing: border-box;
  height: auto;
  padding: 8px 0px;
}

.btn.accept {
  background: #55AE3A;
  border: 2px solid #55AE3A;
  margin: 3px 0;
}

.btn.accept:hover {
  background: #308014;
  border: 2px solid #308014;
  margin: 3px 0;
}

.btn.decline {
  background: #cc0000;
  border: 2px solid #cc0000;
  margin: 3px 0;
}

.btn.decline:hover {
  background: #b20000;
  border: 2px solid #b20000;
  margin: 3px 0;
}

.btn:hover {
  background: #FA7B21;
  border: 2px solid #FA7B21;
}

footer {
  background: #ebebeb;
  padding: 20px 0;
  border-top: 1px solid #333;
}

footer .footer-inner {
  max-width: 980px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 10px 0 0 4px;
  margin: 0;
}

footer ul li {
  padding: 3px 0;
}

footer ul a {
  text-decoration: none;
  color: #333;
}

footer ul a:hover {
  color: #000;
}