* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
}

header, footer, div {
  box-sizing: border-box;
}

header#nav .nav-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

header#nav {
  background: rgba(25, 40, 56, 1);
  color: #fff;
}

header#nav .logo {
  padding: 15px 0;
  display: inline-block;
  width: 60%;
}

header#nav .logo img {
  vertical-align: middle;
  max-width: 125px;
  width: 100%;
} 

header#nav .logo a {
  color: #fff;
  text-decoration: none;
}

header#nav .logo a:hover {
  text-decoration: none;
}

header#nav nav {
  display: inline-block;
  width: 40%;
  text-align: right;
}

header#nav nav button {
  padding: 8px 36px 8px 8px;
  background: url('./assets/wax-allaccess-badge-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;
  border: 0;
}

header#nav nav button:hover {
  cursor: pointer;
  border: 0;
  color: #ebebeb;
}

header#nav nav button:focus {
  cursor: pointer;
  border: 0;
  outline: none;
}

header#nav nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 10px;
  display: inline-block;
  line-height: 45px;
}

header#nav nav a:hover {
  color: #fff;
  background: #000;
}

header#nav nav .acctName {
  padding-left: 20px;
}

.main-content {
  padding: 20px 0;
  max-width: 980px;
  margin: 0 auto;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.candidate-grid .candidate-single-grid {
  border: 2px solid #333;
  margin: 5px;
  border-radius: 25px;
  padding: 15px;
}

.candidate-single {
  display: grid;
  grid-template-rows: [header]auto[body]auto[end];
  grid-template-columns:[left]30%[right]70%[end];
}

.candidate-single .candidate-header {
  grid-row-start: header;
  grid-row-end: span body;
  grid-column-start: left;
  grid-column-end: span end;
  padding-bottom: 30px;
}

.candidate-single .candidate-left-pane {
  grid-row-start: body;
  grid-row-end: span end;
  grid-column-start: left;
  grid-column-end: span right;
}

.candidate-single .candidate-right-pane {
  grid-row-start: body;
  grid-row-end: span end;
  grid-column-start: right;
  grid-column-end: span end;
}


footer {
  background: #ebebeb;
  padding: 20px 0;
  border-top: 1px solid #333;
}

footer .footer-inner {
  max-width: 980px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  padding: 10px 0 0 4px;
  margin: 0;
}

footer ul li {
  padding: 3px 0;
}

footer ul a {
  text-decoration: none;
  color: #333;
}

footer ul a:hover {
  color: #000;
}